div.mermaid {
  font-size: 16px;
}
div.mermaid p {
  margin: 5px 0 0 0;
}
div.mermaid svg {
  height: 300px;
}
span.branch-label {
  color: black;
  border: 3px solid {{gitGraph.nodeStrokeColor}};
  background-color: {{gitGraph.nodeFillColor}};
  display: block;
  position: relative;
}
span.commit-id {
  color: lightgrey;
  display: block;
  position: relative;
}